apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ pv_prefix }}{{ item }}
spec:
  capacity:
    storage: {{ pv_size }}
  accessModes:
  - ReadWriteMany
  nfs:
    path: /{{ pv_exports_dir }}/{{ pv_prefix }}{{ item }}
{% for host in groups['openshift_master_group'] %}
    server: {{ hostvars[host].instance_name }}
{% endfor %}
  persistentVolumeReclaimPolicy: Recycle
